@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: white;
    --color-bg: 9 14 17;
    --color-bg-hover: 43 64 66;
    --color-fg: 240 249 245;
    --color-fg-muted: 158 174 173;
    --color-primary: 13 22 27;
    --color-secondary: 22 34 39;
    --color-border: 72 98 99;
    --color-bg-toggle: 22 34 39;
    --color-bg-toggle-selected: 34 192 154;
    --color-track-cursor: 229 231 235;
    --color-track: 98 122 122;
    --color-track-buffered: 72 98 99;
    --gradient-item-page: linear-gradient(169deg, rgba(34, 192, 154, 0.16) 0%, rgba(13, 22, 27, 1) 78%);
    --gradient-audio-player: linear-gradient(180deg, rgba(9, 14, 17, 0) 0%, rgba(9, 14, 17, 1) 82%);
    --gradient-minimized-audio-player: linear-gradient(145deg, rgba(34, 192, 154, 0.16) 0%, rgba(22, 34, 39, 0.96) 24%, rgb(9, 14, 17) 68%);
  }

  html[data-theme='black'] {
      color: white;
      --color-bg: 0 0 0;
      --color-bg-hover: 0 0 0;
      --color-fg: 230 237 243;
      --color-fg-muted: 120 126 132;
      --color-primary: 0 0 0;
      --color-secondary: 0 0 0;
      --color-border: 55 62 65;
      --color-bg-toggle: 0 0 0;
      --color-bg-toggle-selected: 35 35 35;
      --color-track-cursor: 229 231 235;
      --color-track: 107 114 128;
      --color-track-buffered: 75 85 99;
      --gradient-item-page: rgb(0, 0, 0);
      --gradient-audio-player: rgb(0, 0, 0);
      --gradient-minimized-audio-player: rgb(0, 0, 0);
    }
  
  html[data-theme='light'] {
    color: black;
    --color-bg: 246 249 247;
    --color-bg-hover: 212 226 222;
    --color-fg: 26 35 38;
    --color-fg-muted: 94 108 110;
    --color-primary: 255 255 255;
    --color-secondary: 235 242 239;
    --color-border: 197 214 210;
    --color-bg-toggle: 235 242 239;
    --color-bg-toggle-selected: 255 255 255;
    --color-track-cursor: 101 109 118;
    --color-track: 189 191 191;
    --color-track-buffered: 129 131 131;
    --gradient-item-page: linear-gradient(169deg, rgba(34, 192, 154, 0.12) 0%, rgba(255, 255, 255, 1) 78%);
    --gradient-audio-player: linear-gradient(180deg, rgba(246, 249, 247, 0) 0%, rgba(246, 249, 247, 1) 82%);
    --gradient-minimized-audio-player: linear-gradient(145deg, rgba(34, 192, 154, 0.12) 0%, rgba(235, 242, 239, 0.96) 24%, rgb(255, 255, 255) 68%);
  }

  body {
    @apply bg-bg
  }
}
